@font-face {
    font-family: 'pixel';
    src: url('arcadeclassic-webfont.woff2') format('woff2'),
         url('arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
	margin: 0px;
}

html {
	scroll-behavior: smooth;
}

#move {
	  width: 3000px;
      height: 950px;
      background-position: -55px 0;
      overflow: hidden;
      transition: margin 0.1s ease ;
      position:absolute;
      background-repeat: repeat-x;
}

#character{
      width: 200px;
      height: 300px;
      background-image: url(../characters/Warrior/Run.png);
      background-position: -55px 0;
      overflow: hidden;
      transition: margin 0.1s ease ;
      position:absolute;
      margin-top: 420px;
      margin-left: 600px;
      background-repeat: no-repeat;
      vertical-align: top;
      background-size: cover;
}

#clock {
	margin-top: 30px;
	margin-left: 1400px;
	font-size: 30px;
	position: absolute;
	z-index: 1;
	font-family: 'pixel';
}

#inventory{
	height: 317px;
	width: 467px;
	position:absolute;
}

#inventoryItem{

}

.box{
	background-image: url(../achtergronden/box1.png);
	position:absolute;
	background-size: contain;
}

.building{
	background-image: url(../achtergronden/house1.png);
}

#rock{
	background-image: url(../achtergronden/rock.png);
	position:absolute;
	width: 400px;
	height: 400px;
	margin-top: 362px;
	margin-left: 220px;
	background-size: contain;
	z-index: 0;
}

#item{
	position:absolute;
}

#trees{
	background-image: url(../achtergronden/tree-set.png);
	position: absolute;
	margin-top: 140px;
	width:100%;
	height:567px;
	background-size: contain;
	background-repeat: repeat-x;
}

#background{
	background-image: url(../achtergronden/backgrounds/background.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 688px;
	position: absolute;
}

#grass{
    background-image: url(../achtergronden/backgrounds/background_layer_4.png);
    background-repeat: repeat-x;
    width: 3000px;
    height: 950px;
    position:relative;
    z-index: 1;
}