*{
	margin: 0px;
}

#mario{
      width: 150px;
      height: 300px;
      background-image: url(characters/mario.png);
      background-position: -55px 0;
      overflow: hidden;
      transition: margin 0.1s ease ;
      position:absolute;
      margin-top: 420px;
  }

#inventory{
	height: 317px;
	width: 467px;
	position:absolute;
}

#inventoryItem{

}

#box1{
	background-image: url(achtergronden/box1.png);
	position:absolute;
	
	margin-top: 420px;
}

#item{
	position:absolute;
}

#grass{
    background-image: url(achtergronden/backgrounds/background_layer_4.png);
    background-repeat: repeat-x;
    width: auto;
    height: 950px;
    position:relative;
}