*{
	margin: 0px;
}

html {
	scroll-behavior: smooth;
}

#gamecontainer {
	transition: all 0.5s linear;
}

#mario{
      width: 150px;
      height: 300px;
      background-image: url(characters/mario.png);
      background-position: -55px 0;
      overflow: hidden;
      transition: margin 0.1s ease ;
      position:absolute;
      margin-top: 420px;
  }

#inventory{
	height: 317px;
	width: 467px;
	position:absolute;
}

#inventoryItem{

}

#box1{
	background-image: url(achtergronden/box1.png);
	position:absolute;
	width: 150px;
	height: 150px;
	margin-top: 545px;
	margin-left: 300px;
	background-size: contain;
}

#item{
	position:absolute;
}

#trees{
	background-image: url(achtergronden/oak_tree.png);
	position: absolute;
	margin-top: 180px;
	width:100%;
	height:567px;
	background-size: contain;
	background-repeat: repeat-x;
}

#background{
	background-image: url(achtergronden/backgrounds/background.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 688px;
	position: absolute;
}

#grass{
    background-image: url(achtergronden/backgrounds/background_layer_4.png);
    background-repeat: repeat-x;
    width: 3000px;
    height: 950px;
    position:relative;
}